<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CGUIKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Grammalarm.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C2D58BF1ED8DD5900311BDE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C778D881E20B38500BEDE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C778D9E1E20B38500BEDE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C778DA91E20B38500BEDE5D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
